<h1>About Us</h1>

<p> this is the about page where we talk all about ourselves</p>

<p><%= link_to("Home", {action: 'index'}) %> <%= link_to("Hello", {action: 'hello'}) %> <%= link_to("Contact Us", {action: 'contact', country: 'us'}) %></p>